body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center;
}
.message_title{
     width:220px;
	 height:28px;
	 background-image:url(../images/bg_message_01.gif);
}
.message_body{
     width:220px;
	 height:84px;
	 background-image:url(../images/bg_message_02_2.gif);
	 text-align:center;
	 vertical-align:top;
}
.message_info_title{
     width:90%;
	 height:19px;
	 text-align:left;
	 font-family:"宋体";
	 font-size:12px;
	 font-weight:bold;
	 color:#118172;
	 line-height:19px;
}
.message_info{
     width:90%;
	 height:19px;
	 font-family:"宋体";
	 font-size:12px;
	 color:#000000;
	 line-height:19px;
	 text-align:right;
}



.a_message:link {
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	text-align: left;
}
.a_message:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	text-align: left;
}
.a_message:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #F98413;
	text-decoration: none;
	text-align: left;
}
.a_message:active {
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	text-align: left;
}