<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="msgService" class="com.hirisun.msg.service.impl.MsgServiceImpl">
		<property name="userDao" ref="userDao" />
		<property name="adminDao" ref="adminDao" />
		<property name="shortMessageDao" ref="shortMessageDao" />
		<property name="userMsgDao" ref="userMsgDao" />
	</bean>
	
	<!--
	<bean id="testService" class="hlx.bea.wxy.service.impl.TestServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	-->
</beans>
