<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="hibernateDaoSupport" abstract="true"
		class="org.springframework.orm.hibernate3.support.HibernateDaoSupport">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="baseDao" abstract="true" class="nak.nsf.dao.support.BaseDaoSupport"
		parent="hibernateDaoSupport" />
	
	<bean id="userDao" class="com.hirisun.msg.dao.impl.UserDaoImpl"
		parent="baseDao" />
		
	<bean id="adminDao" class="com.hirisun.msg.dao.impl.AdminDaoImpl"
		parent="baseDao" />
		
	<bean id="shortMessageDao" class="com.hirisun.msg.dao.impl.ShortMessageDaoImpl"
		parent="baseDao" />	
				
	<bean id="userMsgDao" class="com.hirisun.msg.dao.impl.UserMsgDaoImpl"
		parent="baseDao" />			
	<!-- 
	<bean id="testOrmDao" class="nak.nsf.dao.impl.TestOrmDaoImpl"
		parent="baseDao" />
	 -->
</beans>
